.header
  width: 100%
  display: flex
  height: 87px
  background: $baseBg
  position: relative
  z-index: 2
  
  box-shadow: 0px 4px 21.4px 0px #A3763F3D
  border-bottom: 1px solid #D7AA73
  
  .all
    overflow: unset
  &-bg
    width: 102vw
    height: 87px
    position: absolute
    top: 30px
    left: calc(50% - 51vw)
    overflow: hidden
    &:before
      background: linear-gradient(4.4deg, #1A2166 -31.59%, #0F0201 127%)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 220px
      content: ""
  .nav
    position: relative
    z-index: 2
    +r($hd)
      display: none
    &-list
      font-size: 25px
      display: flex
      gap: 18px
      margin: 0
      padding: 0
      a
        color: #FFE8CC
  .logo
    position: absolute
    top: -31px
    left: calc(50% - 121px)
    width: 242px
    height: 220px
    padding: 50px 0 0
    text-align: center
    background: linear-gradient(4.4deg, #1A2166 -31.59%, #0F0201 127%)
    border-radius: 0 0 50% 50%
    box-shadow: 0px 4px 21.4px 0px #A3763F3D
    border-bottom: 1px solid #D7AA73
    +r($lg)
      width: 200px
      height: 180px
      left: calc(50% - 100px)
    &-link
      width: 137px
      display: inline-block
      position: relative
      z-index: 1
      +r($lg)
        width: 120px
        
  &-right
    margin-left: auto
    position: relative
    z-index: 2
    +r($hd)
      margin-left: 0
      margin-right: auto
    +r($sm)
      display: none
  .btn-login
    color: #FFE8CC
    padding: 10px 40px 14px
    border-radius: 10px
    border: 1px solid #FFD5A3
    display: inline-block
    vertical-align: top
    font-size: 25px
    line-height: 1
    +r($md)
      padding: 8px 20px 10px
    &:hover
      background: #FFD5A3
      color: #1A2166
  .all
    display: flex
    justify-content: center
    position: relative
    align-items: center
 
  .nav-burger
    position: relative
    display: none
    +r($hd)
      display: block
    +r($sm)
      margin-left: auto
      
    .svg-icon
      fill: #fff
      width: 32px
      height: 32px

      
.modal-nav-burger
  &__wrapper
    box-shadow: 0px 4px 53.9px 0px #000000D1
    background: linear-gradient(0.31deg, #08051E 23.94%, #B5A086 253.23%)
    overflow: auto
    text-align: left
    padding: 0 50px 50px
    height: 100%
    +r($sm)
      padding: 0 25px 25px
  &__close
    position: absolute
    right: 30px
    top: 30px
    cursor: pointer
  
  &__logo
    width: 56px
    margin-top: 20px
    img
      width: 56px
  &__header
    margin-bottom: 60px
    
  .btn-login
    color: $clrPrimaryMain
    padding: 10px 40px 14px
    border-radius: 10px
    font-weight: 400
    border: 1px solid #FFD5A3
    display: inline-block
    vertical-align: top
    font-size: 25px
    line-height: 1
    margin-bottom: 24px
    +r($sm)
      font-size: 16px
      padding: 8px 20px 10px
    &:hover
      background: #FFD5A3
      color: #1A2166

      
  &-nav
    font-size: 32px
    font-weight: 300
    display: flex
    flex-direction: column
    margin: 0 0 60px
    padding: 0
    list-style: none
    gap: 24px
    +r($sm)
      font-size: 24px
      margin-bottom: 30px
    li
      display: block

  &-socs
    display: flex
    gap: 15px
