<%
var data = {
title: "Заголовок сайта",
copyright: "itJustAlance",
bodyClass: ""
};

<!--var mobileFooter = _.template(require('../includes/mobile-footer.html'))(data);-->
<!--var mobileMenu = _.template(require('../includes/mobile-menu.html'))(data);-->

<!--var footerHtml = _.template(require('../includes/footer.html'))({-->
<!--...data,-->
<!--mobileFooter,-->
<!--mobileMenu-->
<!--});-->


%>
<%= _.template(require('../includes/header.html'))(data) %>

<div class="container">
  <section class="page-news">
    <div class="all">
      <h1 class="page-news-h1">Новости</h1>
      <div class="page-news-actions">
        <a class="btn-action --active" href="#"><span>новости</span></a>
        <a class="btn-action" href="#"><span>Анонсы</span></a>
        <a class="btn-action" href="#"><span>прошедшие</span></a>
        <a class="btn-action" href="#"><span>Предстоящие</span></a>
      </div>
      <div class="news-list">
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »Открытие »Открытие »Открытие »Открытие »Открытие »Открытие »Открытие »Открытие »</a></div>
            <div class="text"><a href="#">В глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item --blue">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »</a></div>
            <div class="text"><a href="#">В глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »</a></div>
            <div class="text"><a href="#">В глубинах BritanniaВ глубинах BritanniaВ глубинах BritanniaВ глубинах BritanniaВ глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item --blue">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »</a></div>
            <div class="text"><a href="#">В глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »</a></div>
            <div class="text"><a href="#">В глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »</a></div>
            <div class="text"><a href="#">В глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »</a></div>
            <div class="text"><a href="#">В глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »</a></div>
            <div class="text"><a href="#">В глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »</a></div>
            <div class="text"><a href="#">В глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие »</a></div>
            <div class="text"><a href="#">В глубинах Britannia </a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
              «Проклятый Лабиринт»</a></div>
            <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
              с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открабиринт»</a></div>
            <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
              с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
              «Проклятый Лабиринт»</a></div>
            <div class="text"><a href="#">В глубинах B себя и свою гильдию!</a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
              «Проклятый Лабиринт»</a></div>
            <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
              с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        <div class="news-item">
          <div class="news-item-wrapper">
            <div class="news-item__date">18.12.2025</div>
            <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
              «Проклятый Лабиринт»</a></div>
            <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
              с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
            <div class="img"><img src="img/news1.png" alt=""></div>
            <div class="news-item__bottom">
              <div class="news-item__bottom-left">
                <a href="#" class="action-name">Новости</a>
              </div>
              <div class="news-item__bottom-right">
                <a href="#" class="more">Читать полностью</a>
              </div>
            </div>
          </div>
        
        </div><!--end news-item -->
        
      </div><!--end news-list -->
      <div class="pagination-box">
        <ul class="pagination-list">
          <li class="pagination-item">
            <a href="#" class="pagination-link --arr">
              <img src="img/pag-arr-l.svg" alt="">
            </a>
          </li>
          <li class="pagination-item --active">
            <a href="#" class="pagination-link">
            1
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">
            2
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">
            3
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">
            4
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">
            5
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">
            6
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">
            7
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">
            8
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">
            9
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link">
            10
            </a>
          </li>
          <li class="pagination-item">
            <a href="#" class="pagination-link --arr">
              <img src="img/pag-arr-r.svg" alt="">
            </a>
          </li>
        </ul>
        
      </div>
    </div><!--end all -->
  </section>
 
  
</div>


<%= _.template(require('../includes/footer.html'))(data) %>
