<%
var data = {
title: "Заголовок сайта",
copyright: "itJustAlance",
bodyClass: ""
};

<!--var mobileFooter = _.template(require('../includes/mobile-footer.html'))(data);-->
<!--var mobileMenu = _.template(require('../includes/mobile-menu.html'))(data);-->

<!--var footerHtml = _.template(require('../includes/footer.html'))({-->
<!--...data,-->
<!--mobileFooter,-->
<!--mobileMenu-->
<!--});-->


%>
<%= _.template(require('../includes/header.html'))(data) %>

<div class="container">
  <div class="lvl1">
    <div class="all">
      <div class="slider-main">
        <div class="slide">
          <div class="info-game-box">
            <div class="info-game-box__title">Эпичные PvP-турниры еженедельно!</div>
            <div class="info-game-box__text">Арены, гильдии, кланы — сражайся за славу и награды. Полный кастом армор и
              оружие. Динамичное PvP.
            </div>
            <div class="info-game-box__img"><img src="img/img1.png" alt=""></div>
          </div><!--end info-game-box -->
        </div>
        <div class="slide">
          <div class="info-game-box">
            <div class="info-game-box__title">Эпичные PvP-турниры еженедельно!</div>
            <div class="info-game-box__text">Арены, гильдии, кланы — сражайся за славу и награды. Полный кастом армор и
              оружие. Динамичное PvP.
            </div>
            <div class="info-game-box__img"><img src="img/img2.png" alt=""></div>
          </div><!--end info-game-box -->
        </div>
        <div class="slide">
          <div class="info-game-box">
            <div class="info-game-box__title">Эпичные PvP-турниры еженедельно!</div>
            <div class="info-game-box__text">Арены, гильдии, кланы — сражайся за славу и награды. Полный кастом армор и
              оружие. Динамичное PvP.
            </div>
            <div class="info-game-box__img"><img src="img/img3.png" alt=""></div>
          </div><!--end info-game-box -->
        </div>
        <div class="slide">
          <div class="info-game-box">
            <div class="info-game-box__title">Эпичные PvP-турниры еженедельно!</div>
            <div class="info-game-box__text">Арены, гильдии, кланы — сражайся за славу и награды. Полный кастом армор и
              оружие. Динамичное PvP.
            </div>
            <div class="info-game-box__img"><img src="img/img3.png" alt=""></div>
          </div><!--end info-game-box -->
        </div>
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="lvl2">
      <div class="all">
        <div class="statistic-box">
          <div class="statistic-box__item">
            <div class="num">45 682</div>
            <div class="txt">аккаунтов</div>
          </div>
          <div class="statistic-box__item">
            <div class="num">1 247</div>
            <div class="txt">игроков Онлайн</div>
          </div>
          <div class="statistic-box__item">
            <div class="num">12 450</div>
            <div class="txt">PvP-убийств за неделю</div>
          </div>
          <div class="statistic-box__item">
            <div class="num">2.5М</div>
            <div class="txt">торговый оборот золота</div>
          </div>
          <div class="statistic-box__item">
            <div class="num">150+</div>
            <div class="txt">дней без даунтайма</div>
          </div>
        </div>
      </div>
    </div><!--end lvl2 -->
    <div class="lvl3">
      <div class="all">
        <div class="lvl3-description">
          <div class="title">
            Готов нырнуть
            в&nbsp;мир Britannia?
          </div>
          <div class="text">
            <strong>Быстрый старт:</strong><br><br>
            
            регистрация → клиент → вход на сервер. <br>
            Полная инструкция внутри.
          </div>
          <div class="b-btn">
            <a href="#" class="btn">
              <span class="btn__label">Скачать клиент и играть!</span>
              <svg class="svg-icon">
                <use xlink:href="#icon-arr2"></use>
              </svg>
            </a>
          </div>
          <div class="lvl3-img">
            <img src="img/img4.png" alt="">
          </div>
        </div>
      
      </div>
    </div><!--end lvl3 -->
  </div>
  
  <div class="section-3">
    <div class="lvl4">
      <div class="all">
        <div class="lvl4-wrapper js-tabs-wrapper">
          <div class="lvl4__header">
            <div class="lvl4-title">
              Новости
              и анонсы
            </div>
            <ul class="lvl4-tabs js-tabs">
              <li class="js-tab-item active"><span class="btn-tab">новости</span></li>
              <li class="js-tab-item"><span class="btn-tab">Анонсы</span></li>
            </ul>
          </div>
          <div class="lvl4__content">
            <div class="tab-box js-tab-box --show">
              <div class="news-list">
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
                      «Проклятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
                      с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
                      «Проклятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В
                      с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового </a></div>
                    <div class="text"><a href="#">В глубинах Britannia отою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
                      «Проклятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
                      с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
                      «Проклятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
                      с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
                      «Проклятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
                      с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
              </div><!--end news-list -->
              <div class="news-etc">
                <a href="#" class="news-link-all"><span class="news-link-all__label">Все новости</span></a>
              </div>
            </div>
            <div class="tab-box js-tab-box">
              <div class="news-list">
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открыятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В гл гильдию!</a></div>
                    <div class="date">1 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
                      «Проклятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В
                      с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового </a></div>
                    <div class="text"><a href="#">В глубинах Britannia отою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
                      «Проклятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
                      с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
                      «Проклятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
                      с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item-wrapper">
                    <div class="news-item__title"><a class="news-item__title-link" href="#">Открытие нового данжа
                      «Проклятый Лабиринт»</a></div>
                    <div class="text"><a href="#">В глубинах Britannia открылся новый опасный данж
                      с уникальным боссом и S-tier лутом. Испытай себя и свою гильдию!</a></div>
                    <div class="date">18 декабря 2025</div>
                    <div class="img"><img src="img/news1.png" alt=""></div>
                  </div>
                </div>
              </div><!--end news-list -->
              <div class="news-etc">
                <a href="#" class="news-link-all"><span class="news-link-all__label">Все новости</span></a>
              </div>
            </div>
            
          </div>
        </div>
      </div><!--end all -->
    </div><!--end lvl4 -->
    <div class="lvl5">
      <div class="all">
        <div class="section-support">
          <div class="support-form">
            <div class="support-form__row">
              <div class="support-form__label">Выбор суммы:</div>
              <div class="support-form__input">
                <div class="inp-select">
                  <div class="inp-select__inp"><input type="text" class="input"></div>
                  <div class="inp-select__select">
                    <select class="ik_select" name="">
                      <option value="1">RUB</option>
                      <option value="1">USD</option>
                    </select>
                  </div>
                </div>
              
              </div>
            </div>
            <div class="support-form__row">
              <div class="support-form__label">Метод оплаты:</div>
              <div class="support-form__input">
                <select class="ik_select" name="">
                  <option value="1">RUB</option>
                  <option value="1">USD</option>
                </select>
              </div>
            </div>
            <div class="support-form__row">
              <div class="b-checkbox">
                <input type="checkbox" id="sogl1">
                <label class="b-checkbox__label" for="sogl1">
              <span class="checked">
                <svg class="svg-icon svg-icon--check">
                  <use xlink:href="#icon-check"></use>
                </svg>
              </span>
                  Согласен с Правилами сервера и Политикой конфиденциальности</label>
              </div>
            </div>
            <div class="support-form__btn">
              <button class="support-form__submit" type="submit"><span>Пожертвовать</span></button>
            </div>
          </div>
          <div class="support-text">
            <div class="support-title">Поддержи сервер — получи бонусы!</div>
            <p><strong>Валюты:</strong> BTC / ETH / USDT / RUB</p>
            <p><strong>Награды:</strong> уникальные маунты, робы, сеты</p>
            <p><strong>Минимальный донат:</strong> 100 ₽ / 1 USDT</p>
            <p><strong>Бонусы начисляются мгновенно</strong></p>
            <p><small>*Донат является добровольным пожертвованием на поддержку сервера. Все бонусы носят
              косметический характер и не дают игрового преимущества.</small></p>
          </div>
        </div>
      </div>
    </div>
  </div><!--end section-3 -->
</div>


<%= _.template(require('../includes/footer.html'))(data) %>
