// titles
.h1-title
  font-size: 50px
  font-weight: 900
  line-height: 1
  +r($lg)
    font-size: 44px
  +r($md)
    font-size: 36px
  +r($sm)
    font-size: 32px

.h2-title
  font-size: 32px
  font-weight: 900
  margin: 0
  padding: 0 0 16px
  text-transform: uppercase
  +r($lg)
    font-size: 30px
  +r($md)
    font-size: 28px
  +r($sm)
    font-size: 24px

.h3-title
  font-size: 24px
  font-weight: 900
  +r($lg)
    font-size: 22px
  +r($md)
    font-size: 20px
  +r($sm)
    font-size: 18px

.h4-title
  font-size: 18px
  font-weight: 600
  +r($md)
    font-size: 16px


// paragraphs
.p-main
  font-size: 18px

.p-main
  margin: 0

p + p
  margin-top: 12px


+r($lg)
  .h1-title
    font-size: 46px

+r($sm)
  .h1-title
    font-size: 36px


// little inline helpers
.f-400
  font-weight: normal

.f-500
  font-weight: 500

.f-600
  font-weight: 600

.f-700
  font-weight: 700

.f-900
  font-weight: 900

// color modifiers
.c-red
  color: $colorRed

ul.list-circ
  list-style: none
  margin-bottom: 32px
  li
    position: relative
    padding-left: 15px
    &+li
      margin-top: 16px
    &:after
      background: currentColor
      width: 5px
      height: 5px
      border-radius: 50%
      position: absolute
      top: 8px
      left: 0
      content: ""


