// ===================  Modules  ========================

@import 'modules/reset';
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/utils';
@import 'modules/mixin_font-face';
@import 'modules/fontstylesheet';
@import 'modules/slider';
@import 'modules/ikselect';

// ====================  Plugins  =======================
// Bootstrap

// @import '../../node_modules/bootstrap/scss/mixins/breakpoints';
//@import '../../node_modules/bootstrap/scss/bootstrap-grid';

// ====================  Default  =======================


@import "elements/ui";
@import "elements/typography";
@import "elements/buttons";
@import "elements/inputs";
@import "elements/forms";
@import "elements/icons";

@import "layout/general";


// ====================  components  ======================

@import 'components/header';
@import 'components/footer';
@import 'components/modals';

// ====================  Pages  ======================
@import "pages/pages";

// =====================  Media  ========================


@import "modules/print";
